# configuration for the system
SystemConfig.deviceId = 0                               #use the device to run the program
SystemConfig.channelCount = 8                           #视频流路数
#stream url, the number is SystemConfig.channelCount
#视频流地址
stream.ch0 = rtsp://xxx.xxx.xxx.xxx:xxxx/input.264
stream.ch1 = rtsp://xxx.xxx.xxx.xxx:xxxx/input.264
stream.ch2 = rtsp://xxx.xxx.xxx.xxx:xxxx/input.264
stream.ch3 = rtsp://xxx.xxx.xxx.xxx:xxxx/input.264
stream.ch4 = rtsp://xxx.xxx.xxx.xxx:xxxx/input.264
stream.ch5 = rtsp://xxx.xxx.xxx.xxx:xxxx/input.264
stream.ch6 = rtsp://xxx.xxx.xxx.xxx:xxxx/input.264
stream.ch7 = rtsp://xxx.xxx.xxx.xxx:xxxx/input.264

#视频解码后的缩放分辨率
VideoDecoder.resizeWidth = 416                           #must be equal to ModelInfer.modelWidth
VideoDecoder.resizeHeight = 416                          #must be equal to ModelInfer.modelHeight  

#模型输入分辨率、模型名称、模型类型以及模型路径
ModelInfer.modelWidth = 416
ModelInfer.modelHeight = 416
ModelInfer.modelName = YoloV3
ModelInfer.modelType = 0                                 #0: YoloV3 Caffe, 1: YoloV3 Tensorflow
ModelInfer.modelPath = ./data/models/yolov3/yolov3_416.om

PostProcess.writeDetResult=true

#跳帧间隔
skipInterval = 5                                         #One frame is selected for inference every <skipInterval> frames

Stream = 1,3,4